<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Nicholas Chiasson's Easter egg scavenger hunt" />
  <meta name="keywords" content="easter,egg,scavenger,hunt,quest" />
  <meta name="author"
    content="Nicholas Omer Chiasson &lt;nicholasomerchiasson@gmail.com&gt; (https://nicholaschiasson.github.io)" />
  <title>{{ status }} · easter.quest</title>
  <link rel="icon" href="/favicon.svg" />
  <link href="/static/style.css" rel="stylesheet" />
</head>

<body>
  <header>
    <nav>
      <a href="/"><img src="/favicon.svg" /></a>
    </nav>
  </header>
  <main>
    <h1>{{ status }}</h1>
    {% if let Some(reason) = reason -%}
    <p><strong>{{ reason }}</strong></p>
    {%- endif %}
    <a href="/">Go home</a>
  </main>
</body>

</html>
